/* Style sheet for Thoth */

.thothtitlebar {
	padding:0px;
	min-height:0px;
}

.thothtitlebar * {
	padding:0px;
	margin:0px;
	min-height:0px;
}

.thothtitlebar button {
	padding:4px 2px 4px 2px;
	border-radius:0px;
}

.thothtitlebar button:hover {
	border-style:outset;
	background:#fff;
}

.thothtitlebar button:checked {
	border-style:inset;
	background:#dddddd;
}

default-decoration {
	min-height:0px;
}

.thothsidepaneltree {
	margin:0;
	background:#dddddd;
}

.switcherhbox {
	background:#f0f0f0;
	border:#d0d0d0;
	padding:4px;
}

.switcherbutton {
	border-radius:0;
	margin:0;
	padding-top:0;
	padding-bottom:0;
	padding-left:8px;
	padding-right:8px;
}

.switcherbutton:checked {
	background:#d7d7d7;
	color:black;
}

.switcherbutton label {
	padding:0;
}

textview text {
	background:#fff;
	color:#000;
}

.menuitembutton {
	border-radius:0;
	margin:0;
	padding:0;
	background:#f0f0f0;
}

.menuitembutton label {
	padding:0;
}
